services:
  backend:
    build:
      context: .
      dockerfile: docker/backend.dockerfile
    container_name: taboo_backend
    ports:
      - "8080:8080"
    environment:
      - ADDR=:8080
  frontend:
    build:
      context: .
      dockerfile: docker/frontend.dockerfile
    container_name: taboo_frontend
    tty: true
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
