html, body {
  height: 98vh;
}

label {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
}

input:valid {
  border: 2px solid green;
}

input:invalid {
  border: 2px solid red;
}

.layout {
  display: flex;
  gap: 1rem;
}

.left-panel {
  flex: 1;
}

.center-panel {
  flex: 3;
}

.right-panel {
  flex: 1;
}

.log {
  font-size: x-small;
  height: 80vh;
  overflow-y: auto;
  overflow-x: auto;
  font-family: monospace;
  border: 1px solid black;
}

.player-list {
  list-style-type: none;
}

.current-player {
  font-weight: bold;
}
