// app-wide styles

:root {
  color-scheme: light dark;
  transition: background-color 0.4s ease, color 0.4s ease;

  --textColor: #000;
  --backgroundColor: #fff;
}

html.dark {
  --textColor: #eee;
  --backgroundColor: #222;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

form {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

button {
  text-decoration: none;
  font-size: large;
  border-radius: 10px;
  border: 1px solid rgb(143, 137, 137);
  padding: 0.25rem;
  color: var(--textColor);
  background-color: transparent;
  cursor: pointer;
}

input {
  color: var(--textColor);
  background-color: var(--backgroundColor);
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-style: solid;
  border-radius: 5px;
}

input:invalid {
  border-color: red;
  border-style: solid;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.icon-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

svg {
  stroke: var(--textColor);
  stroke-width: 1.5;
  fill: var(--backgroundColor);
  display: block;
}

// header styles

.header {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.header-center {
  flex: 0;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-border {
  border-bottom: 1px solid rgb(143, 137, 137);
}

.header-text {
  font-size: xx-large;
  font-weight: bolder;
}

.default-border {
  border-style: solid;
  border-color: rgb(143, 137, 137);
  border-width: 1px;
  border-radius: 10px;
}

// layout styles

.layout {
  display: flex;
  gap: 1rem;
}

.left-panel {
  flex: 1;
  margin-left: 0.5rem;
}

.center-panel {
  flex: 3;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
}

.right-panel {
  flex: 1;
  margin-right: 0.5rem;
}

.side-panel-title {
  font-weight: bold;
  text-align: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid rgb(143, 137, 137);
}

// log entries styles

.log-entries {
  font-size: small;
  height: 80vh;
  overflow-y: auto;
  overflow-x: auto;
  font-family: monospace;
  padding: 0.25rem;
}

// team styles

.team {
  padding: 0.25rem;
  border-bottom: 1px solid rgb(143, 137, 137);
}

.team-title {
  display: flex;
  justify-content: space-between;
  padding: inherit;
}

.team-players {
  display: flex;
  padding: inherit;
  justify-content: space-between;
  margin: 0;
}

.team-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.last-team {
  border-bottom: none;
}

.team-controls button {
  margin: 0.25rem;
}

.current-player {
  font-weight: bold;
}

.disconnected-player {
  opacity: 50%;
}

// role styles

.turn-base {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.team-turn {
  font-size: xx-large;
  font-weight: bold;
}

.player-turn {
  font-size: large;
}

// taboo card styles

.taboo-card {
  margin-bottom: 0.5rem;
}

.taboo-card .guessed-word {
  font-size: xx-large;
  font-weight: bolder;
}

.taboo-card .taboo-words {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 0.25rem;
  color: red;
}

.taboo-word {
  font-size: large;
}

// button controls styles

.button-controls {
  margin-bottom: 0.5rem;
}

.button-controls *:not(:last-child) {
  margin-right: 0.25rem;
}

// overlay styles

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.overlay-text {
  color: white;
  font-size: 2rem;
}
