html, body {
  height: 98vh;
}

label {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
}

input:valid {
  border: 2px solid green;
}

input:invalid {
  border: 2px solid red;
}

.centered {
  display: flex;
  justify-content: center;
  height: 100%;
}

.centered-column {
  text-align: center;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.text-center {
  text-align: center;
}

.layout {
  display: flex;
  gap: 1rem;
}

.left-panel {
  flex: 1;
}

.center-panel {
  flex: 3;
}

.right-panel {
  flex: 1;
}

.log {
  font-size: x-small;
  height: 80vh;
  overflow-y: auto;
  overflow-x: auto;
  font-family: monospace;
  border: 1px solid black;
}



.current-player {
  font-weight: bold;
}
